@import 'tailwind';

html, body{
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    overflow: auto;
    box-sizing: border-box;
    @apply w-full h-full m-0 p-0 overflow-x-hidden;
}

#app {
    font-family: DefaultFont, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply w-full h-full box-border;
}